#page-team {
    margin-left: 30%;
    padding: 100px 50px;
    .search {
        border: 1px solid #0cc;
    }
    .btn-search {
        background-color: #0cc;
        color: #fff;
    }
    .hr {
        border-top: 5px solid #0cc;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .page-team-About {
        h2 {
            margin-top: 30px;
            margin-bottom: 30px;
        }
        p {
            line-height: 1.8em;
            font-size: 16px;
            color: #333;
            font-weight: normal;
        }
        .page-team-work {
            text-align: center;
            .team-work-box {
                background-color: #eee;
                padding: 30px 30px;
                margin-bottom: 10px;
                color: #0cc;
                h2 {
                    font-size: 20px;
                    font-weight: normal;
                }
                p {
                    color: #999;
                }
            }
        }
    }
    .myteam {
        img {
            height: 200px;
        }
        .box {
            margin-left: 10px;
            h2 {
                font-size: 20px;
            }
            p {
                font-size: 14px;
            }
        }
    }
    footer {
        display: flex;
        justify-content: space-between;
    }
}
@media (max-width: 767px){
    #page-team {
        margin-left: 0;
        padding: 30px 0;
    }
}